.main-app {
    text-align: center;
    margin: 100px;
}

.cta-button {
    margin : 15px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(32, 129, 226);
}


#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .cardsss {
    display: inline-block;
    margin-bottom: 20px;
    background-color: rgb(15, 111, 79);
  }

  .cardInDeck {
    display: inline-block;
    margin-bottom: 20px;
    background-color: darkslategrey;
  }